
.main{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin: 20px;
}
.card{
    border-radius: 6px;
    background-color: #E6D5B8;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: .4s;
}
.card:hover{
    transform: scale(1.1);
}
.main .card img{
    border-radius: 5px 5px 0 0;
}
.main .card .cardText{
    margin: 10px;
    font-size: 20px;
    text-align: center;
    color: #1B1A17;
}
.main .card .delete{
    align-self: flex-end;
    width: 25px;
    height: 25px; 
    border-radius: 5px;
    font-size: 16px;
    border: none;
    margin: 5px;
    color: #E6D5B8;
    background-color: #1B1A17;
    position: absolute;
    transition: .3s;
}
.main .card .delete:hover{
    cursor: pointer;
    transform: scale(1.2);
    background-color: rgb(201, 14, 14);
}